@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  @apply text-buzz-gray dark:bg-buzz-purple-dark dark:text-buzz-white;
}

.prose {
  @apply dark:text-buzz-white;
}

.prose h1,
.prose h2,
.prose h3,
.prose thead {
  @apply dark:text-buzz-white;
}

.prose strong {
  @apply dark:text-white font-extrabold;
}

.prose blockquote {
  /* This is similar to PageSummary */
  @apply bg-buzz-white bg-opacity-50 dark:text-buzz-white dark:bg-buzz-purple-light dark:bg-opacity-25 rounded-lg rounded-tl-none rounded-bl-none border-l-4 border-buzz-green dark:border-buzz-green-neon p-6 md:p-8 max-w-full;
}

.prose blockquote p br {
  @apply mb-6;
}

.backlink-container.prose h3 {
  @apply dark:text-buzz-gray;
}

::-moz-selection {
  @apply bg-buzz-green-neon;
}

::selection {
  @apply bg-buzz-green-neon;
}

a:not(.nav-item):not(.content-card) {
  @apply border-buzz-purple-light border-b border-dotted no-underline dark:border-buzz-purple-neon;
}

a:not(.content-card) {
  @apply text-buzz-purple-light dark:text-buzz-purple-neon transition duration-200 ease-in-out;
}

a:not(.content-card):hover {
  @apply text-buzz-purple-neon border-buzz-purple-neon dark:text-buzz-purple-light dark:border-buzz-purple-light;
}

h1 {
  @apply text-4xl mb-4 font-extrabold;
}

h2 {
  @apply text-3xl mb-4 font-bold;
}

h3 {
  @apply text-2xl mb-4 font-bold;
}

h1,
h2,
h3 {
  @apply flex;
}

h1 a,
h2 a,
h3 a {
  @apply mt-1 ml-2 opacity-0 transition-opacity duration-200 ease-in-out;
  border: none !important;
}

h1:hover a,
h2:hover a,
h3:hover a {
  opacity: 1 !important;
}

img {
  @apply rounded-lg;
}

.katex-display {
  @apply inline-block my-0 !important;
}
